body {
	margin: 0;
	padding: 0;
}

body * {
	font-family: 'Didact Gothic', sans-serif;
	vertical-align: top;
}

.header {
	margin: 0 auto;
	background-image: url(Images/headbg.png);
	background-repeat: repeat-x;
	background-size: 150px 60px;
	height: 60px;
	color: #fff;
	text-shadow: 0px 1px 2px black;
}


.container {
	position: relative;
	margin: 0 auto;
	width: 960px;

}

.header .logo {
	display: inline-block;
	width: 169px;
	height: 40px;
	padding-top: 10px;

}
.nav  {
	display: inline-block;
}

.nav li {
	display: inline-block;
	font-size: 17px;
	margin-right: 27px;
	list-style: none;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.user-drop-down {
	margin-right: 22px;
	display: inline-block;
	position: absolute;
	right: 0px;
}

.user-drop {
	display: inline-block;

}

.user-logo {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	margin-top: 5px;
}

.user-name {
	display: inline-block;
	margin-left: 5px;
	margin-top: 17px;
}
.user-drop-button {
	margin-left: 5px;
	display: inline-block;
	width: 12px;
	height: 10px;
	margin-top: 23px;
	background-image: url(Images/triangle.png);
	background-size: 14px 12px;
}

.banner {
	position: relative;
	height: 87px;
	line-height: 87px;
	font-size: 30px;	
}
.maincontent {
	box-shadow: inset 0px 0px 2px gray;
	height: 580px;
	background-color: rgb(239,236,231);
}

.maincontent-copy { 
	display: inline-block;
	padding-top: 30px;
}

.photo { 
	position: relative;
	display: inline-block;
	width: 620px;
	height: 525px;
	margin-right: 12px;
}

.photo-image {
	width: 620px;
	height: 400px;
}

.photo-title {
	position: absolute;
	line-height: 52px;
	padding-left: 20px;
	padding-top: 0px;
	background-color: rgba(0, 0, 0, 0.57);
	width: 600px;
	color: #fff;
	height: 57px;
	font-size: 25px
}

.rightmaintimestamp {
	margin-top: 17px;
	margin-right: 20px;
	color: #fff;
	position: absolute;
	right: 0px;
	top: 0px;
}

.timest {
	display: inline-block;	
}

.ribbonborder {
	position: absolute;
	height: 13px;
	z-index: 5;
	width: 135px;
	border-bottom: 1px solid rgb(187,134,18) ;
}

/*RIBBON*/
/* ribbon style */

 .ribbon-wrapper {
 	margin-top: -18px;
	position: absolute;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border-top: 0px solid #ccc;
	-moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
}
  .ribbon-front {
  	padding-top: 5px;
		background-color: #F7C600;	height: 26px;
		width: 143px;
		position: relative;
		left:-8px;
		z-index: 2;
		text-shadow: 1px 1px 3px rgb(180,127,55);
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	top: 32px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
	left: -8px;
	border-color: transparent #F7C600 transparent transparent;
}

  .ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 8px 0 0;
}
  .ribbon-edge-bottomleft {
  	margin-top: -1px;
	border-width: 0 8px 7px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
	left: 135px;
	border-color: transparent transparent transparent #F7C600;
}

  .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 0px;
}
  .ribbon-edge-bottomright {
	border-width: 0 0 0px 0px;
}

  .ribbon-back-left {
	position: absolute;
	top: 7px;
	left: 0px;
	width: 0px;
	height: 32px;
	background-color: #F7C600;	z-index: 0;
}

  .ribbon-back-right {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0px;
	height: 32px;
		z-index: 0;
}

/*RIBBON*/

.photo-caption {
	position: relative;
	margin: 0 auto;
	width: 620px;
	height: 84px;
	background: rgb(197,194,186);

}

.photo-caption-copy {
	color: rgb(53,53,53);
	font-size: 19px;
	margin-left: 21px;
	padding-top: 17px;
	font-style: italic;
}

.arrow {
	bottom: 27px;
	left: 5px;
	position: absolute;
	z-index: 10;
}
.photo-disclaimer {
	color: rgb(97,97,97);
	font-size: 11px;
	margin-left: 26px;
	padding-top: 5px;
	width: 525px;
	letter-spacing: 1px;
}

/* everything in the middle left container*/
.sidebar {
	position: relative;
	display: inline-block;
	margin-left: 4px;
	width: 300px;
	height: 425px;
}

.sidebar-topsection {
	width: 300px;
	height: 120px;
	line-height: 120px;
	text-align: center;
	color: #fff;
	font-size: 70px;
	text-shadow: 2px 2px 2px rgb(186,183,181);

}

.sidebar-topmobbers {
	width: 140px;
	height: 120px;
	margin-right: 1px;
	background: rgb(197,194,186);
	display: inline-block;
}

.sidebar-topmobbersneeded {
	width: 140px;
	height: 120px;
	background: rgb(197,194,186);
	display: inline-block;
}

.sidebar-secondsection {
	width: 300px;
	height: 35px;
	line-height: 33px;
	text-align: center;
	color: rgb(71,71,71);
	font-size: 14px;
	text-transform: uppercase;
	margin-top: -3px;

}

.sidebar-mobbers {
	width: 140px;
	height: 33px;
	margin-right: 14px;
	background: rgb(161,159,145);
	display: inline-block;
}

.sidebar-mobbersneeded {
	width: 140px;
	height: 33px;
	background: rgb(161,159,145);
	display: inline-block;
}

/*top sidebar*/

.sidebar-button {
	border-radius: 6px;
	position: relative;
	height: 60px;
	margin-top: 24px;
		background: rgb(254,218,0); /* Old browsers */
		background: -moz-linear-gradient(top,  rgb(254,218,0) 0%, rgb(230,153,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(254,218,0)), color-stop(100%,rgb(230,153,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgb(254,218,0) 0%,rgb(230,153,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgb(254,218,0) 0%,rgb(230,153,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgb(254,218,0) 0%,rgb(230,153,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgb(254,218,0) 0%,rgb(230,153,0) 100%); /* W3C */
	border: 1px solid rgb(199,142,0); 
	font-size: 25px;
	text-shadow: 1px 1px 3px rgb(180,127,55);
	line-height: 60px;
	text-align: center;
	letter-spacing: 1px;
	color: #fff;
	z-index: 5;
}

.sidebar-medal {
	position: relative;
	border-radius: 6px;
	background: #fff;
	height: 80px;
	width: 290px;
	z-index: 3;
	border: 1px solid rgb(167,167,166);
	margin-top: -10px;
	margin-left: 5px;
	box-shadow: inset 0px 0px 2px #fff;
	padding-top: 0px; 
	box-shadow: inset 0px -2px 0px rgb(235,232,225);
}

.sidebar-medalpic {
	display: inline-block;
	width: 41px;
	height: 57px;
	padding-top: 17px;
	padding-left: 8px;
}

.sidebar-medal-txt {
	display: inline-block;
	padding-top: 20px;

}

.sidebar-txt-bold {
	font-weight: bolder;
}

.sidebar-txt {
	font-size: 14px;
}

.sidebar-disclaimer {
	text-align: center;
	margin-top: 15px;
	padding-left: 28px;
	padding-right: 28px;
	color: rgb(97,97,97);
	font-size: 11px;
	height: 45px;
	margin-bottom: 16px;
	border-bottom: 1px solid rgb(168,168,168);
}

.sidebar-social {	
	padding-left: 1px;
	width: 297px;
	height: 28px;
}
/*everything in the middle sidebar*/

.upcoming {
	height: 572px;
	background: #fff;
}

.upcoming-top{
	height: 282px;
	width: 942px;
	border-bottom: 1px solid rgb(168,168,168);
}

.pictures {
	margin-top: 38px;
	height: 196px;
	width: 945px;
}

.pic {
	margin-right: 17px;
	width: 300px;
	height: 195px;
}

.right {
	margin-right: -10px;
	margin-left: -2px;
} 

.center {
	width: 301px;
	margin-top: -1px;
}

.upcoming-text {
	width: 960px;
	height: 60px;
	display: inline-block;
	font-size: 12px;
}

.text2 {
	display: inline-block;
	width: 300px;
}

.text3 {
	display: inline-block;
	width: 200px;

}

.upcoming2 {
	position: relative;
	display: inline-block;
}

.text2.upcoming2.cen {
margin-left: 18px;
}

.text2.upcoming2.right {
margin-left: 16px;
}

.bold-text {
	font-size: 16px;
	font-weight: bold;
}

.timestamp {
	margin-top: 5px;
	position: absolute;
	right: -9px;
	width: 70px;
	display: inline-block;
}

.clock	{display: inline-block;
	width: 20px;
	height: 20px;
}

.time {
	display: inline-block;
}

.upcoming-bot {
	height: 230px;

}

.upcoming-botleft {
	display: inline-block;
	width: 630px;
}

.title-bot-left {
	margin-top: 12px;
	font-weight: bold;
	font-size: 25px;
}

.table { border-spacing: 0px;
	margin-top: 20px;
}


.tabletitle {
	font-size: 15px;
	font-weight: bold;
}

tr.table2 td{
	border-bottom: 1px solid rgb(171,171,171);
}

tr * {
	padding: 8px 0px 10px;
}

.padtable {
	padding-top: 10px;
	font-size: 14px;
	padding-left: 48px;
}

.upcoming-botright {
	display: inline-block;
	width: 307px;
}

.tfix {
	padding-left: 108px;
}

.status {
	position: relative;
	margin-top: 20px;
	margin-left: 7px;
	height: 210px;
	background-color: rgb(197,194,186);
}

.status-title {
	color: white;
	font-size: 26px;
	text-align: center;
	font-weight: bold;
	padding-top: 13px;

}

.status-circle .circle2 {
	display: inline-block;
}

.circle2 {
	position: relative;
	font-weight: bold;
	font-size: 20px;
	height: 35px;
	width: 35px;
	border-radius: 35px;
	margin: 10px 30px 10px 30px;
	line-height: 35px;
	text-align: center;
	color: rgb(112,112,112);
	border: 1px solid rgb(127,126,122);
	box-shadow: 0px 1px 5px rgb(127,126,122);
	background: rgb(205,205,205); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(205,205,205,1) 0%, rgba(251,251,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,205,205,1)), color-stop(100%,rgba(251,251,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(205,205,205,1) 0%,rgba(251,251,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(205,205,205,1) 0%,rgba(251,251,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(205,205,205,1) 0%,rgba(251,251,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(205,205,205,1) 0%,rgba(251,251,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */
	z-index: 5;
}

.graybar {
	margin-top: -32px;
	margin-left: 57px;
	position: relative;
	z-index: 3;
	height: 7px;
	width: 185px;
	background-color: rgb(175,173,166);
}

.status-txt-ul {
	margin-top: 17px;
	padding: 0px;
	position: relative;
	width: 100%;
	list-style-type: none;
	font-size: 12px;
	text-align: center;
	display: inline-block;
}



.status-txt-ul .sidebar-txt2 {
	display: inline-block;
}

.status-txt2 {
	padding: 0px 11px 1px 16px;
	width: 70px;
	height: 30px;
	display: inline-block;
}

.startbutton {
	border-radius: 6px;
	position: relative;
	height: 60px;
	width: 280px;
	margin-top: -2px;
	margin-left: 11px;
		background: rgb(225,224,219); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(225,224,219,1) 0%, rgba(197,194,186,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,224,219,1)), color-stop(100%,rgba(197,194,186,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(225,224,219,1) 0%,rgba(197,194,186,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(225,224,219,1) 0%,rgba(197,194,186,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(225,224,219,1) 0%,rgba(197,194,186,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(225,224,219,1) 0%,rgba(197,194,186,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e0db', endColorstr='#c5c2ba',GradientType=0 ); /* IE6-9 */
	border: 1px solid rgb(114,111,107); 
	font-size: 23px;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	letter-spacing: 1px;
	color: rgb(0, 94, 156);
	z-index: 5;
	text-shadow: 1px 1px 3px #fff;
}

.footer {
	color: #fff;
	height: 340px;
	background-color: rgb(66,65,65);
}

.foot {
	margin-top: 22px;
	display: inline-block;
}

.foottitle {
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;

}

.col {
	display: inline-block;
}

.buttonfoot {
	margin: 12px 15px 0px 0px;
	border-radius: 5px;
	border: 1px solid rgb(42,42,42);
	box-shadow: inset 0px 1px 1px rgb(172,172,172);
	position: relative;
	height: 36px;
	width: 136px;
	background: rgb(80,80,79);
	font-size: 12px;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px black;
}

.leftfoot {
	width: 310px;
	height: 300px;
}

.centerfoot {
	margin-left: 84px;
	width: 240px;
	height: 300px;
}

.center-foot-copy {
	width: 205px;
	font-size: 12px;	
	margin-top: 7px;
	color: rgb(163,164,164);
	margin-bottom: 23px;
}

.email-in {
	box-shadow: inset 0px 3px 6px rgb(172,172,172);
	margin-left: -3px;
	margin-top: 1px;
	background: white;
	border-radius: 4px;
	margin-right: 30px;
}

input.email-input {
	height: 41px; 
	width: 210px;	
	border: none;
	border-radius: 4px;
	font-size: 14px;
	padding-left: 10px;
	color: rgb(105,105,105);
	background: url(Images/check.png) no-repeat center right;
}

.social2 {
	font-size: 14px;
	color: rgb(220,220,220);
	display: inline-block; ;
	width: 215px;
	margin-top: 12px;
}

.soc {
	margin-left: -7px;
	height: 38px;
	border-bottom: 1px solid rgb(44,44,43);
}

.pic2 {
	padding-top: 7px;
	margin-right: 7px;
}

.soc2 {
	margin-left: -7px;
	line-height: 38px; 
	display: inline-block;
}

.soclast {
	border-bottom: none;
}

.rightfoot {
	margin-left: 80px;
	width: 217px;
	height: 300px;
}

.howitworksbut {
	margin-bottom: 20px;
	border-radius: 6px;
	position: relative;
	height: 48px;
		background: rgb(254,218,0); /* Old browsers */
		background: -moz-linear-gradient(top,  rgb(254,218,0) 0%, rgb(230,153,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(254,218,0)), color-stop(100%,rgb(230,153,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgb(254,218,0) 0%,rgb(230,153,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgb(254,218,0) 0%,rgb(230,153,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgb(254,218,0) 0%,rgb(230,153,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgb(254,218,0) 0%,rgb(230,153,0) 100%); /* W3C */
	border: 1px solid rgb(199,142,0); 
	font-size: 18px;
	text-shadow: 1px 1px 3px rgb(180,127,55);
	line-height: 48px;
	text-align: center;
	letter-spacing: 1px;
	color: #fff;
}

.mfix {
	margin-bottom: 8px;
}

.footdisclaimer {
	border-top: 1px solid rgb(44,44,43);
	margin-top: 33px;
	font-size: 14px;
	padding-top: 8px;
}

/**/